
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("/Views/Default/HeadPartial.cshtml")

@Html.Partial("/Views/Default/_BootstrapIconPartial.cshtml")

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <!-- Page Navbar -->
    @Html.Partial("/Views/Default/NavbarPartial.cshtml")
    <!-- End of Page Navbar -->
    <!-- page header -->
    @Html.Action("FeaturePartial")
    <!-- end of page header -->
    <!-- about section -->
    @Html.Action("AboutPartial")
    <!-- end of about section -->
    <!-- service section -->
    @Html.Action("ServicePartial")
    <!-- end of service section -->
    <!-- portfolio section -->
    @Html.Action("PortfolioPartial")
    <!-- end of portfolio section -->
    <!-- testimonial section -->
    @Html.Action("ReferencesPartial")
    <!-- end of testimonial section -->
    <!-- contact section -->
    @Html.Action("ContactPartial")
    <!-- end of contact section -->
    <!-- section -->
    @Html.Partial("/Views/Default/SectionPartial.cshtml")
    <!-- end of section -->
    <!-- footer -->
    @Html.Action("FooterPartial")
    <!-- end of page footer -->
    <!-- Script section -->
    @Html.Action("ScriptPartial")
    <!-- End Of The Script section -->



</body>

</html>

